<div class="container">
    <a [routerLink]="['/']">Home</a>
    <h2><u>Members of the {{pageHeader}}</u></h2>
    <input type="text" class="form-control" placeholder="Search for members" [(ngModel)]="searchBy" />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Party</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">State</th>
                <th *ngIf="chamber=='house'" scope="col">District</th>
                <th scope="col">Missed Votes</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let member of members">
                <tr *ngIf="search(member)" scope="row" [ngClass]="member.party == 'D'? 'table-primary' : 'table-danger' ">
                    <th>{{member.party}}</th>
                    <td>{{member.first_name}}</td>
                    <td>{{member.last_name}}</td>
                    <td>{{member.state}}</td> 
                    <td *ngIf="chamber=='house'">{{member.district}}</td>
                    <td>{{member.missed_votes}}</td>
                    <td [routerLink]="['/member-detail', chamber, member.id]"><button type="button" class="btn btn-outline-secondary">Recent Bills</button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>